/* General styles */

body {
    background-color: #162330;
    padding-top: 7cm;
}


/* General styles end */

.spinner {
    position: relative;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: auto;
}

.spinner::before,
.spinner:after {
    content: "";
    position: absolute;
    border-radius: inherit;
}

.spinner:before {
    width: 100%;
    height: 100%;
    background-image: linear-gradient( 0deg, #ff00cc 0%, #333399 100%);
    animation: spin .5s infinite linear;
}

.spinner:after {
    width: 85%;
    height: 85%;
    background-color: #162330;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}